{% extends 'base.html' %}
{% block body %}

<div class="container" style="width:80rem">
    <div class="row" style="margin-top:10px;">
        {% for i in movies_list %}
        <div class="col-md-4">
            <div class="card" style="width:18rem; height:40rem">
  <img src="{{i.img.url}}" class="card-img-top"  alt=""  width="250px" height="250px">
  <div class="card-body" style="width:16.5rem; height:16rem">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.desc}}</p>
    <a href="{% url 'moviesapp:details' i.id %}" class="btn btn-primary">DETAILS</a>

  </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}